# hamburguer://hamburguer.hamburguer/#hamburguer-hamburguer

hamburguer = hamburguer

[*]
hamburguer = hamburguer-8
hamburguer_hamburguer = 4
hamburguer_hamburguer = hamburguer
hamburguer_hamburguer_hamburguer = hamburguer
hamburguer_hamburguer_hamburguer = hamburguer

[hamburguer]
hamburguer_hamburguer = hamburguer
hamburguer_hamburguer = hamburguer

[*.{hamburguer,hamburguer}]
hamburguer_hamburguer = hamburguer
hamburguer_hamburguer = hamburguer

[*.hamburguer]
hamburguer_hamburguer = 2

[*.hamburguer]
hamburguer_hamburguer = 2

[*.hamburguer]
hamburguer_hamburguer = hamburguer
hamburguer_hamburguer = hamburguer

[*.hamburguer]
hamburguer_hamburguer = 2

[*{.hamburguer,hamburguer,hamburguer,hamburguer,hamburguer}]
hamburguer_hamburguer = 2
