/.hamburguer/
/.hamburguer/
/.hamburguer/
hamburguer
.hamburguer_hamburguer

# hamburguer
hamburguer
hamburguer-*

# hamburguer
*.hamburguer

# hamburguer
*.hamburguer
*.hamburguer.hamburguer
*.hamburguer

# hamburguer
/hamburguer/hamburguer/*.hamburguer2
/hamburguer/hamburguer/*.hamburguer
*.hamburguer
*.hamburguer.hamburguer.hamburguer
*.hamburguer
