#hamburguer "hamburguer.hamburguer"

hamburguer_hamburguer_hamburguer = hamburguer hamburguer hamburguer: hamburguer hamburguer hamburguer. (5hamburguer943hamburguer562)
hamburguer_hamburguer_hamburguer = hamburguer

hamburguer_hamburguer_hamburguer = hamburguer

hamburguer_hamburguer_hamburguer_hamburguer_hamburguer = hamburguer-hamburguer-hamburguer-hamburguer
hamburguer_hamburguer_hamburguer_hamburguer_hamburguer[hamburguer=hamburguer*] = hamburguer-hamburguer-hamburguer
