.hamburguer {
    hamburguer-hamburguer: hamburguer(20hamburguer + hamburguer(hamburguer-hamburguer-hamburguer-hamburguer, -20hamburguer));
    hamburguer-hamburguer: hamburguer(hamburguer-hamburguer-hamburguer-hamburguer);
    hamburguer-hamburguer: hamburguer(hamburguer-hamburguer-hamburguer-hamburguer);
}

@hamburguer hamburguer hamburguer (hamburguer-hamburguer: $hamburguer-hamburguer-hamburguer) {
    .hamburguer {
        hamburguer-hamburguer: hamburguer;
        hamburguer-hamburguer: hamburguer;
    }
}
