.hamburguer, .hamburguer {
    hamburguer: hamburguer;
    hamburguer: 1hamburguer hamburguer hamburguer;
}

@hamburguer (hamburguer: hamburguer) {
    .hamburguer:hamburguer:hamburguer(:hamburguer(.hamburguer:hamburguer)) {
        hamburguer-hamburguer: hamburguer-hamburguer(#hamburguer5hamburguer5hamburguer5, hamburguer(--hamburguer-hamburguer-hamburguer-4));

        @hamburguer hamburguer {
            hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer-5) !hamburguer;
            hamburguer-hamburguer: 1hamburguer !hamburguer;
        }
    }
}

.hamburguer:hamburguer:hamburguer(:hamburguer(.hamburguer:hamburguer)) {
    hamburguer: hamburguer(2hamburguer);
}

.hamburguer {
    hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer-hamburguer) !hamburguer;
    hamburguer-hamburguer: 2hamburguer !hamburguer;
}

.hamburguer, .hamburguer, .hamburguer {
    hamburguer: hamburguer-hamburguer;
}


.hamburguer {
    &[hamburguer-hamburguer] {
        hamburguer-hamburguer: 1;
        hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer);
        hamburguer-hamburguer: hamburguer-hamburguer(hamburguer(--hamburguer-hamburguer-hamburguer-2), hamburguer(--hamburguer-hamburguer-hamburguer-4));
        hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer);
        hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer);
    }
}

.hamburguer {
    hamburguer: 20hamburguer 75hamburguer;
}

@hamburguer hamburguer hamburguer (hamburguer-hamburguer: $hamburguer-hamburguer-hamburguer) {
    .hamburguer {
        hamburguer-hamburguer: hamburguer(20hamburguer + hamburguer(hamburguer-hamburguer-hamburguer-hamburguer));
        hamburguer-hamburguer: 70hamburguer;
        hamburguer-hamburguer: 20hamburguer;
        hamburguer-hamburguer: 20hamburguer;
    }

    .hamburguer {
        hamburguer: hamburguer !hamburguer;
    }
}

@hamburguer hamburguer hamburguer (hamburguer-hamburguer: $hamburguer-hamburguer-hamburguer) {
    .hamburguer {
        hamburguer-hamburguer: hamburguer;
    }
}

.hamburguer {
    hamburguer: 2hamburguer hamburguer hamburguer !hamburguer;
    hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer) !hamburguer;
    hamburguer: hamburguer 2hamburguer hamburguer hamburguer;
    hamburguer-hamburguer: 200% 50% !hamburguer;
    @hamburguer hamburguer {
        hamburguer: hamburguer-hamburguer(90hamburguer, hamburguer(246, 152, 85, 0.487), #hamburguer, hamburguer(246, 152, 85, 0.487));
    }
    @hamburguer hamburguer {
        hamburguer: hamburguer-hamburguer(90hamburguer, hamburguer(181, 75, 0, 0.75), #00000000, hamburguer(181, 75, 0, 0.75));
    }
}

@hamburguer hamburguer {
    0% {
        hamburguer-hamburguer: 200% 50%;
    }
    100% {
        hamburguer-hamburguer: 0% 50%;
    }
}
