.hamburguer {
    hamburguer-hamburguer: hamburguer;
    hamburguer: hamburguer;
    hamburguer: hamburguer;
    hamburguer-hamburguer: hamburguer-hamburguer;
}

.hamburguer {
    hamburguer: hamburguer;
    hamburguer: 1hamburguer;
    hamburguer-hamburguer: hamburguer-hamburguer;
}

.hamburguer {
    hamburguer: hamburguer;
    hamburguer: 0;
    hamburguer: hamburguer;
    hamburguer-hamburguer: hamburguer;
    hamburguer-hamburguer: hamburguer;
}

.hamburguer {
    hamburguer-hamburguer: hamburguer-hamburguer;
    hamburguer-hamburguer: hamburguer;
}

.hamburguer {
    hamburguer-hamburguer: 100hamburguer;
    hamburguer: 20hamburguer !hamburguer;
    hamburguer-hamburguer: hamburguer;
    @hamburguer hamburguer {
        hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer-8);
    }
}

.hamburguer {
    hamburguer-hamburguer: hamburguer;
    @hamburguer (hamburguer: hamburguer) {
        /* hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer,
           hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer
           hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer
         */
        hamburguer-hamburguer: 120hamburguer;
    }
}

.hamburguer {
    hamburguer-hamburguer: hamburguer-hamburguer(hamburguer, hamburguer(--hamburguer-hamburguer-hamburguer-8));
    hamburguer: 0 0.5hamburguer 0.5hamburguer 0.5hamburguer;
}

.hamburguer {
    hamburguer-hamburguer: 32hamburguer;
    hamburguer-hamburguer: 42hamburguer;
}
