.hamburguer {
    hamburguer-hamburguer: 60hamburguer;
    hamburguer-hamburguer: 60hamburguer;
    hamburguer-hamburguer: 20hamburguer;
    hamburguer-hamburguer: 40hamburguer;
}

.hamburguer {
    hamburguer-hamburguer: hamburguer(--hamburguer-hamburguer-hamburguer);
}

@hamburguer hamburguer hamburguer (hamburguer-hamburguer: $hamburguer-hamburguer-hamburguer) {
    .hamburguer {
        hamburguer-hamburguer: hamburguer(20hamburguer + hamburguer(hamburguer-hamburguer-hamburguer-hamburguer));
        hamburguer-hamburguer: 20hamburguer;
        hamburguer-hamburguer: 20hamburguer;
    }
}
