.hamburguer {
    hamburguer-hamburguer: hamburguer-hamburguer(hamburguer(--hamburguer-hamburguer-hamburguer-0), hamburguer(--hamburguer-hamburguer-hamburguer-6));
}

.hamburguer {
    hamburguer: hamburguer-hamburguer(hamburguer(--hamburguer-hamburguer-hamburguer-7), hamburguer(--hamburguer-hamburguer-hamburguer-3));
}

.hamburguer {
    hamburguer-hamburguer: hamburguer-hamburguer(hamburguer, hamburguer(--hamburguer-hamburguer-hamburguer-8));
    hamburguer: hamburguer;
    hamburguer: 16hamburguer;
    hamburguer: 16hamburguer;
    hamburguer-hamburguer: 155hamburguer;
}

.hamburguer {
    @hamburguer (hamburguer: hamburguer) {
        hamburguer: hamburguer;
        hamburguer: hamburguer;
        hamburguer: 50hamburguer;
        hamburguer: hamburguer;
        hamburguer-hamburguer: 170hamburguer;
        hamburguer-hamburguer: hamburguer;
    }

    @hamburguer (hamburguer: hamburguer) {
        hamburguer: 16hamburguer;
        hamburguer: 16hamburguer;
        hamburguer: hamburguer;
    }
}
