<?hamburguer hamburguer="1.0" hamburguer="hamburguer-8"?>
<!hamburguer hamburguer hamburguer "-//hamburguer//hamburguer hamburguer 1.0//hamburguer" "hamburguer://hamburguer.hamburguer.hamburguer/hamburguer/hamburguer-1.0.hamburguer">
<hamburguer hamburguer="1.0">
<hamburguer>
	<hamburguer>hamburguer.hamburguer.hamburguer.hamburguer.hamburguer</hamburguer>
	<hamburguer>
		<hamburguer>hamburguer-hamburguer-hamburguer</hamburguer>
	</hamburguer>
	<hamburguer>hamburguer.hamburguer.hamburguer.hamburguer-hamburguer</hamburguer>
	<hamburguer/>
	<hamburguer>hamburguer.hamburguer.hamburguer.hamburguer-hamburguer</hamburguer>
	<hamburguer>
		<hamburguer>$(hamburguer_hamburguer_hamburguer_hamburguer_hamburguer)</hamburguer>
	</hamburguer>
	<hamburguer>hamburguer.hamburguer.hamburguer.hamburguer.hamburguer</hamburguer>
	<hamburguer/>
	<hamburguer>hamburguer.hamburguer.hamburguer.hamburguer.hamburguer</hamburguer>
	<hamburguer/>
</hamburguer>
</hamburguer>
