[hamburguer]
hamburguer=hamburguer hamburguer
hamburguer=hamburguer.hamburguer

[hamburguer]
hamburguer=/hamburguer/hamburguer/hamburguer hamburguer
hamburguer=hamburguer
hamburguer=0007
hamburguer=hamburguer-hamburguer

[hamburguer]
hamburguer=hamburguer-hamburguer.hamburguer
