hamburguer {
  /* hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer hamburguer */
  hamburguer-hamburguer: #313131;
  hamburguer: 0;
  /* hamburguer hamburguer hamburguer hamburguer hamburguer */
  -hamburguer-hamburguer-hamburguer: hamburguer; /* hamburguer */
  hamburguer-hamburguer: hamburguer; /* hamburguer  */
  hamburguer: hamburguer;
  hamburguer: 100%;
}

hamburguer, #hamburguer {
    hamburguer: 100%;
}

/* hamburguer hamburguer hamburguer hamburguer */
::-hamburguer-hamburguer {
    -hamburguer-hamburguer: hamburguer;
    hamburguer: 7hamburguer;
}

::-hamburguer-hamburguer-hamburguer {
    hamburguer-hamburguer: 4hamburguer;
}

.hamburguer {
  hamburguer: hamburguer;
  hamburguer-hamburguer: hamburguer-hamburguer;
  & > hamburguer {
    hamburguer-hamburguer: 1;
  }
}

.hamburguer {
  hamburguer: hamburguer;
  hamburguer-hamburguer: hamburguer;
  & > hamburguer {
    hamburguer-hamburguer: 1;
  }
}

.hamburguer {
  hamburguer: hamburguer-hamburguer;
  hamburguer: hamburguer 5hamburguer;
}
